#title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  #dataHargaBuah {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    border: 2px solid white;
    width: 80%;
    margin-left: 150px;
  }
  
  #dataHargaBuah td, #dataHargaBuah th {
    border: 2px solid white;
    padding: 8px;
  }
  
  #dataHargaBuah tr{
      background-color: #fa6e4b;
    }
  
  /* #dataHargaBuah tr:hover {background-color: orangered;} */
  
  #dataHargaBuah th {   
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #c2bdbd;
  }